* {
  margin: none;
  border: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;  

}

.box{
  display: flex;
  height: 20px;
  width: 20px;
  border: solid 1px;
  margin: 0;
}
